<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="../cooa.css">
<link rel="stylesheet" href="example.css">
<title>COOA markdown example</title>
<body>
<script type="cooa">
<%
  // Initial values for story variables.
  switch_flipped = false;
%>

SECTION: anteroom
The Anteroom
------

You are in a spartan room. There is an iron door to the north and
a pink door to the west.

* Go through the [iron door](#iron_room).
* Go through the [pink door](#pink_room).

SECTION: iron_room
The Iron Room
------

This is a sparse iron room.

<% if (switch_flipped) { %>
  A massive iron door stands ajar to reveal a passage [north](#vault).
<% } else { %>
  A massive iron door with no handle seals the north side of the room.
<% } %>

* Go back to [the anteroom](#anteroom).

SECTION: pink_room
The Pink Room
------

You are in a gaudy pink room.

A switch is here. It is currently <%= switch_flipped ? "on" : "off" %>,
but you can [flip it](#flip_switch).

* Go back to [the anteroom](#anteroom).

SECTION: flip_switch

<% if (!switch_flipped) { switch_flipped = true; %>
  You hear a rumbling coming from another room as you flip the switch on,
  like a giant door being swung open.
<% } else { switch_flipped = false; %>
  You hear a soft grinding noise as you flip the switch off, like a
  giant door being slammed shut.
<% } %>

[Continue](#pink_room).

SECTION: vault

You are in a big vault with lots of money in it!

## THE END</script>
<footer>
  [ <a href="#">restart story</a>
    | <a href="#" onclick="TogetherJS(this); return false;">play
        with friends</a>
    | <input type="checkbox" id="cooa-debug"> 
        <label for="cooa-debug">development mode</label>
  ]
</footer>
<script src="../cooa.js"></script>
<script src="https://togetherjs.com/togetherjs-min.js"></script>
<script src="../cooa.together.js"></script>
<script src="../vendor/showdown.js"></script>
<script src="../vendor/underscore.js"></script>
<script src="../cooa.template.js"></script>
<script src="../cooa.markdown.js"></script>
<script src="../cooa.dat.gui.js"
        data-datgui-href="../vendor/dat.gui.js"></script>
</body>
