<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="../cooa.css">
<link rel="stylesheet" href="example.css">
<title>COOA markdown example</title>
<body>
<script type="cooa">
<%
  // Initial values for story variables.
  visited_page4 = false;
%>

SECTION: page1
Page 1
------

This is page 1.

* Go to [page 2](#page2).
* Go to [unwritten](#unwritten).
* Go to [page 4](#page4).

SECTION: page2
Page 2
------

<% if (visited_page4) { %>
  You have visited page 4.
<% } %>

This is page 2.

SECTION: page4
Page 4
------

This is page 4.

<% visited_page4 = true; %>

* Go back to [page 1](#page1).

</script>
<footer>
  [ <a href="#">restart story</a>
    | <a href="#" onclick="TogetherJS(this); return false;">play
        with friends</a>
    | <input type="checkbox" id="cooa-debug"> 
        <label for="cooa-debug">development mode</label>
  ]
</footer>
<script src="../cooa.js"></script>
<script src="https://togetherjs.com/togetherjs-min.js"></script>
<script src="../cooa.together.js"></script>
<script src="../vendor/showdown.js"></script>
<script src="../vendor/underscore.js"></script>
<script src="../cooa.template.js"></script>
<script src="../cooa.markdown.js"></script>
<script src="../cooa.dat.gui.js"
        data-datgui-href="../vendor/dat.gui.js"></script>
</body>
