.cooa.cooa-debug:not(.cooa-no-debug-x-ray) > section.cooa-active {
  background-color: lightyellow;
}

.cooa:not(.cooa-debug) > section:not(.cooa-active),
.cooa.cooa-debug.cooa-no-debug-x-ray > section:not(.cooa-active) {
  display: none;
}

.cooa.cooa-debug:not(.cooa-no-debug-x-ray) .cooa-hidden {
  opacity: 0.5;
}

.cooa:not(.cooa-debug) .cooa-hidden,
.cooa.cooa-debug.cooa-no-debug-x-ray .cooa-hidden {
  display: none;
}

.cooa a.cooa-broken {
  color: red;
}

.cooa .cooa-error {
  font-family: sans-serif;
  background-color: mistyrose;
  border-left: 4px solid pink;
  padding: 0 0.5em;
}
