.cooa.cooa-debug > section.cooa-active {
  background-color: lightyellow;
}

.cooa:not(.cooa-debug) > section:not(.cooa-active) {
  display: none;
}

.cooa.cooa-debug .cooa-hidden {
  opacity: 0.5;
}

.cooa:not(.cooa-debug) .cooa-hidden {
  display: none;
}

.cooa a.cooa-broken {
  color: red;
}
